$background: #242629;
$primary: #7f5af0;
$secondary: #72757e;
$tertiary: #2cb67d;
$button-text: #fffffe;
$highlight: #7f5af0;
$stroke: #010101;
$main: #fffffe;


// Card
$cardbackground: #16161a;
$headline: #fffffe;
$subheading: #94a1b2;
$paragraph: #94a1b2;