@import './_mixins.scss';
@import './_variables.scss';

.container {
  padding: 0 2rem;
  background: $background;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $background;

  .inputWrapper {
    width: 376px;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 8px;
    background: $cardbackground;

    .input {
      // border: 1px solid $primary;
      height: 2rem;
      padding: 1rem;
      width: 100%;
      border-radius: 8px;
      outline: none;
      border: 2px solid $stroke;
      background: $background;
      color: $headline;

      &:focus {
        border-color: $primary;
      }
    }

    .submitButton {
      background: $primary;
      color: $button-text;
      font-weight: bold;
      border-radius: 8px;
      border: none;
      padding: .5rem 2rem;
      margin-left: 8px;
      transition: 0.2s;

      &:hover {
        background: darken($primary, 10%);
        cursor: pointer;
      }
    }
  }

  .devWrapper {
    background: $cardbackground;
    border-radius: 8px;
    padding: 24px;
    width: 376px;

    .description {
      color: $paragraph;
      display: block;
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid $primary;
    }

    .extraInfo {
      display: block;
      padding-top: 10px;
      color: $paragraph;

      svg {
        position: relative;
        top: 2px;
        height: 1.2rem;
      }
    }
  }

  // @include desktop() {
  //   .grid {
  //     width: 100%;
  //     flex-direction: column;
  //   }
}